<section class="recipes-section ">
    <h2 class="p-text-center liste-title">Liste des recettes</h2>

    <spiner class="spinner" *ngIf="load !== 0"></spiner>

    <p-dataView [ngClass]="{'hidden': load !== 0}" layout="grid" [value]="recipes" [paginator]="true" [rows]="15">

        <ng-template let-recipe pTemplate="gridItem">
            <app-recipe-fiche-came *ngIf="mobile && recipe.id!=0" [load]="load" [recipe]="recipe" [full]="true" (hideSpiner)="hideSpiner($event)" ></app-recipe-fiche-came>
            <app-recipe-fiche-came *ngIf="!mobile && recipe.id!=0" [load]="load" [recipe]="recipe" [full]="false" (hideSpiner)="hideSpiner($event)" ></app-recipe-fiche-came>
        </ng-template>

        <ng-template let-item pTemplate="paginatordropdownitem">
            {{item.value}} - per page
        </ng-template>
    </p-dataView>
</section>

